//colors
$white: #ffffff;
$black: #000000;
$blueberry: #663399;
$amethyst: #9f62c9;
$lipstick: #eb3349;
$tomato: #ef4836;
$coral: #f45c43;
$dark: #242f3f;
$dark-two: #252e3f;
$steel: #868d98;
$steel-two: #858e98;
$slate: #394a58;
$silver: #e2e4e7;
$silver-two: #d2d7db;
$silver-three: #9ca5ac;
$dark-sky-blue: #4a89dc;
$turtle-green: #8cc152;
$slate-blended: #90262f;
$pale-grey: #ecf0f1;
$tangerine: #f99600;
